body* { 
  font-size: 13px;
}

body.wait, body.wait *{
    cursor: wait !important;   
}

.logo {
    font-size: inherit;
}

.node circle {
  fill: #fff;
  stroke: gray;
  stroke-width: 3px;
}

.node text { font: 10px sans-serif; }

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 7px;
}

.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.47059;
  overflow: visible;
  padding: 2px 5px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

#text-block {
    float:left;
    width:50%;
    height:100%;
    color:#000;
}

#floating-container {
    position:absolute;
    top:100px;
    left:55%;
    width:40%;
    height:200px;
    background:#97835f;
}

.info-tooltip {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.info-tooltip .tooltiptext-top {
  visibility: hidden;
  //width: 250px;
  background-color: white;
  color: #fff;
  text-align: left;
  font-size: 11px;
  line-height: "20px";
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  //margin-left: -120px;
  margin-bottom: -5px;
  cursor: "pointer";
}

.info-tooltip .tooltiptext-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.info-tooltip:hover .tooltiptext-top {
  visibility: visible;
}

.info-tooltip .tooltiptext-left {
  visibility: hidden;
  width: 120px;
  background-color: #353935;
  color: white;
  text-align: left;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.info-tooltip .tooltiptext-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -75px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #353935;
}

.info-tooltip:hover .tooltiptext-left {
  visibility: visible;
}

.info-tooltip .tooltiptext-bottom {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  margin-top: -5px;
}

.info-tooltip .tooltiptext-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.info-tooltip:hover .tooltiptext-bottom {
  visibility: visible;
}
